{{navbar-home fb=model.fb}}
<article style="color: black">
    <span style="font-weight: bold">{{model.empresa.nome}}</span>
    <img src="#" alt="Imagem de perfil">
    <br>
    <p style="text-align: justify">{{model.empresa.descricao}}
    </p>
    <br>
    <ul>
        <li>Área de Atuação:</li>
        <li>{{model.atuacao.nome}}</li>
    </ul>

</article>
{{footer-home}}