 {{navbar-home logout="sair" fb=model.fb}}
  
<section class="home__body">
    <div class="container">
        {{component-search}}
        <h3 class="title__post">Encontre uma ONG</h3>
        {{post-box atuacao=model.atuacao}}
        <h3 class="title__post">Eventos</h3>
        {{event-box atuacao=model.atuacao}}
        {{!-- {{event-box evento=model.evento}} --}}
    </div>
    
</section>

{{footer-home}}