<form class="form__sign">
    {{input data-test-name class="form-input__sign" id="name" type="text" placeholder="Nome Completo"}}
    {{input data-test-address class="form-input__sign" id="address" type="text" placeholder="Logradouro: Avenida, Rua, Travessa"}}
    {{input data-test-number class="form-input__sign" id="number" type="text" placeholder="Número da residência"}}
    {{input data-test-block class="form-input__sign" id="block" type="text" placeholder="Complemento (Caso houver)"}}
    {{input data-test-identification class="form-input__sign" id="identification" type="email" placeholder="Email"}} 
    {{input data-test-password class="form-input__sign" id="password" type="password" placeholder="Senha"}} 
</form>