<form class="form__sign">
    {{input data-test-name class="form-input__sign" id="name" value=voluntario.nome type="text" placeholder="Nome Completo"}}
    {{input data-test-address_name class="form-input__sign" value=endereco.logradouro id="address_name" type="text" placeholder="Endereço Completo"}}
    {{input data-test-neighbourhood class="form-input__sign" value=endereco.bairro id="neighbourhood_name" type="text" placeholder="Bairro"}}
    {{input data-test-city class="form-input__sign" value=endereco.cidade id="city_name" type="text" placeholder="Cidade"}}
    {{input data-test-state class="form-input__sign" value=endereco.estado id="state_name" type="text" placeholder="Estado"}}
    {{input data-test-number class="form-input__sign" id="number" value=endereco.numero type="text" placeholder="Número da residência"}}
    {{input data-test-block class="form-input__sign" id="block" type="text" placeholder="Complemento (Caso houver)"}}
    {{input data-test-identification class="form-input__sign" id="identification" type="email" placeholder="Email"}} 
    {{input data-test-password class="form-input__sign" id="password" type="password" placeholder="Senha"}}
    {{input data-test-confirmation_password class="form-input__sign" id="confirmation_password" type="password" placeholder="Confirmação de Senha"}}
    <button data-test-subscribe class="button__sign" {{action 'cadastrar'}}>Cadastrar</button>
</form>